build/
.cache/
src/.deps/
compile_commands.json

subprojects/packagecache/
subprojects/tomlc17/
subprojects/CMock/
subprojects/jansson-*/
.wraplock

tests/mocks/mock_*
tests/mocks/curl/mock_*

.ruby-version
.serena
